/*
<img class="alterar"   width="64" height="64" src="https://img.icons8.com/external-creatype-outline-colourcreatype/64/000000/external-change-miscellaneous-user-interface-v1-creatype-outline-colourcreatype.png" alt="external-change-miscellaneous-user-interface-v1-creatype-outline-colourcreatype"/>
<img class="deletar"   width="64" height="64" src="https://img.icons8.com/windows/64/000000/delete.png" alt="delete"/>
<img class="confirmar" width="48" height="48" src="https://img.icons8.com/emoji/48/000000/check-mark-emoji.png" alt="check-mark-emoji"/>
<img class="cancelar"  width="64" height="64" src="https://img.icons8.com/external-creatype-flat-colourcreatype/64/000000/external-cancel-e-commerce-creatype-flat-colourcreatype.png" alt="external-cancel-e-commerce-creatype-flat-colourcreatype"/>

*/

:root{
    --modalWidth:35em;
    --modalHeight:22em;
}


body {
    background-color: #212529;
}

.container{
    margin: 0 auto;
    overflow: hidden;
}

.table{
    border: 2px solid rgb(58, 58, 56);
    table-layout: auto;
}

.modal-dialog{
    position: fixed;
    width: 90%;
    margin: 0 0 0 0.2em;
    z-index: 100010;
    color: rebeccapurple;  
}

body:has(.modal-dialog){
    overflow: hidden;   
}

input[type=number]::-webkit-inner-spin-button { 
   -webkit-appearance: none;
   
}

.celulaBtn{
    display: flex;
    justify-content: end;
    gap: 5px;
} 

.modal-cor-fonte{
   color: #212529;
   background: #fdfdfd;
}

@media (320px <= width <= 768px){

    .label-titulo{
        display: flex;
        justify-content: space-between;
        align-content:center;
    }

    .btn-seta{
        display: inline-block;
        position: relative;
        left: 0px;
        top: 0;
        width: 40px;
        height: 40px;
        background: transparent;
        color: #fdfdfd;
        border: none;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        z-index: 1000;
    }

    #button-adicionar{
        position: fixed;
        bottom: 1%;
        right: 15px;
        z-index: 10000;
        width: 80px;
        height: 80px;
        padding: 5px;
    }
    
    #button-adicionar button{
      display: inline-block;
      position: relative;
      background: rgb(14, 161, 240);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 10px #212529;
      transition: all 550ms;
    }
    
    #button-adicionar button:active{
        background: rgb(104, 183, 225);
    }
    
    #button-adicionar button > img{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }

    body:has(.modal-cor-fonte) #button-adicionar{
      opacity: 0;
    }
    
    .form-fechado{
      display: none;
    }
    
    .tbl-usuario{
      position: relative;
      top: 0.5rem;
      left:-30rem;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .visivel-cadastro-on{
      left:0;
      opacity: 1;
      visibility: visible;
      animation: tela-cadastro .2s;
    }

    .visivel-tabela-on{
        width: auto;
        height: auto;
        left:0;
        opacity: 1;
        visibility: visible;
        animation: tela-tabela .2s ease-in;
    }

  


    @keyframes tela-cadastro{
        0%{
            opacity: 0;
            transform: translateX(-20px);
            border-right: 3px solid #4c4c4c;
        }
        50%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes tela-tabela{
        0%{
            opacity: 0;
            transform: translateX(20px);
            border-left: 3px solid #4c4c4c;
        }
        50%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
   [data-js="tabela"] h2{
      display: flex;
      justify-content: space-between;
      align-content:center;
    }
    
   [data-js="tabela"] h2 > button{
    transform: rotate(180deg);
   }
}
